body{
    margin:0px;
    padding:0px;
    font-family: 'Rubik', sans-serif;
    background-image: url("body_bg.jpg");
}
*{
    box-sizing: border-box;
    /* border:1px solid red; */
}
.pink{
background-color:lightpink;
}
.blue{
    background-color:lightblue;
}
.green{
    background-color:lightgreen;
}
.black{
    background-color:rgb(36, 33, 33);
}
.toolbar{
    display: flex;
    height: 12vh;
    /* background-color: rgb(32, 29, 29); */
    align-items: center;
    justify-content: center;
}
.filter_container{
    height: 70%;
    background-color: darkgray;
    width: 20rem;
    border-radius: 3px;
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
}
.filter_color-container{
    width: 25%;
    height: 100%;
    background-color: darkgray;
    border-right: 1px solid rgb(255, 255, 255);
    /* perefectly center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.filter_color{
    height: 40%;
    width:40%;
    border-radius: 2px ;
}
.action_container{
    height: 70%;
    background-color: darkgray;
    width: 8rem;
    border-radius: 3px;
    display: flex;
}
.icon_container{
    height: 100%;
    width: 50%;
    border-right: 1px solid white;
    /* perfectly center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    font-size:1.5rem;
}
 .main-container{
    min-height: 88vh;
    padding-top: 3rem;
    position: relative;
    padding-left: 3rem;
    /*background-color:aliceblue;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.ticket_container{
    /* border: 1px solid red; */
    position: absolute;
    z-index: 9;
    height: 14rem;
    width: 20rem;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.637);
    border-radius: 5px;
    background-color: white;
}
.ticket_color{
    height: 7%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ticket_desc_container{
    height: 93%;
    padding: 0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
    word-break: break-all;
}

.ticket_id{
    margin-bottom: 35px;
    font-weight: 800;
    color:#e14242;
    
}
.ticket_desc{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: #bd1892;
}
/* modal container */
.modal_container{
    width: 31rem;
    /* border: 2px solid red; */
    height: 18rem;
    /* display: flex; */
    display: none;
    position: absolute;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.637);
    border-radius: 5px;
}
.task_container{
    /* border: 1px solid green; */
    width: 76%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.modal_color-container{
    /* border: 1px solid green; */
    width: 24%;
    height: 100%;
    background-color: #444;
}
.task_box{
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    font-style: italic;
    padding: 2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.modal-color{
    height: 12%;
    width: 73%;
    border-radius: 2px;
}
.modal_color-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.border{
    border:5px solid black;
}
.lock{
    font-size: 36px;
    color: brown;
    margin-left: 3rem;
}
.unlock{
    font-size: 36px;
    display: none;
    color: brown;
    margin-left: 3rem;
}